Repository shindigira/audioToolHeadless: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm run format

lint:
  run: pnpm run lint:fix

refactor: remove release-it and simplify publish scripts
  package.json
Due: format

fix: prevent infinite loop in publish scripts
  .release-it.json
  package.json
Due: format

refactor: remove deprecated types and consolidate type system
  README.md
  commitlint.config.js
  src/adapters/equalizer.ts
  src/audio.ts
  src/constants/equalizer.ts
  src/events/baseEvents.ts
  src/events/hlsEvents.ts
  src/events/listeners.ts
  src/helpers/common.ts
  src/index.ts
  src/states/audioState.ts
  src/types/audio.types.ts
  src/types/equalizer.types.ts
  src/types/index.ts
Due: format, lint

chore: bump version to 1.0.1
  package.json
Due: format

docs: update project structure in readme and regenerate typedoc documentation
  README.md
Due: none

docs: add documentation files
  commitlint.config.js
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,tsx,json}
  lint: any of: *.{js,ts,tsx}
